<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Churn Prediction Model</title>
</head>
<body>
    <h1>Enter Following values:</h1>
    <form action="/" method="post" style="display: flex; flex-direction: column; width: 300px;">
        <label for="Gender">Gender:</label>
        <input type="number" id="Gender" name="Gender" required />
        <br>

        <label for="Senior">Senior Citezen(0 - No;1 - Yes):</label>
        <input type="number" id="Senior" name="Senior" required />
        <br>

        <label for="Partner">Partner(0 - No;1 - Yes):</label>
        <input type="number" id="Partner" name="Partner" required />
        <br>

        <label for="Dependents">Dependents(0 - No;1 - Yes):</label>
        <input type="number" id="Dependents" name="Dependents" required />
        <br>

        <label for="Tenure">Tenure:</label>
        <input type="number" id="Tenure" name="Tenure" required />
        <br>

        <label for="Phone">Phone Service(0 - No;1 - Yes):</label>
        <input type="number" id="Phone" name="Phone" required />
        <br>

        <label for="Multiple">Multiple Lines(0 - No;1 - Yes):</label>
        <input type="number" id="Multiple" name="Multiple" required />
        <br>

        <label for="Internet">Internet Service(0 - No;1 - Yes):</label>
        <input type="number" id="Internet" name="Internet" required />
        <br>

        <label for="Online">Online Security(0 - No;1 - Yes):</label>
        <input type="number" id="Online" name="Online" required />
        <br>

        <label for="Backup">Online Backup(0 - No;1 - Yes):</label>
        <input type="number" id="Backup" name="Backup" required />
        <br>

        <label for="Protection">Device Protection(0 - No;1 - Yes):</label>
        <input type="number" id="Protection" name="Protection   " required />
        <br>

        <label for="Support">Tech Support(0 - No;1 - Yes):</label>
        <input type="number" id="Support" name="Support" required />
        <br>

        <label for="TV">Streaming TV(0 - No;1 - Yes):</label>
        <input type="number" id="TV" name="TV" required />
        <br>

        <label for="Movies">Streaming Movies(0 - No;1 - Yes):</label>
        <input type="number" id="Movies" name="Movies" required />
        <br>

        <label for="Contract">Contract(0 - No;1 - Yes):</label>
        <input type="number" id="Contract" name="Contract" required />
        <br>

        <label for="Paperless">Paperless Billing(0 - No;1 - Yes):</label>
        <input type="number" id="Paperless" name="Paperless" required />
        <br>

        <label for="Payment">Payment Method(0 - No;1 - Yes):</label>
        <input type="number" id="Payment" name="Payment" required />
        <br>

        <label for="Charges">Monthly Charges:</label>
        <input type="number" id="Charges" name="Charges" required />
        <br>

        <label for="Total">Total Charges:</label>
        <input type="number" id="Total" name="Total" required />
        <br>
        <button type="submit" style="margin-top: 10px;">Predict</button>
    </form>
</body>
</html>